<h1>New Game</h1>
<div class="letters-container">
  <% @letters.each do |letter| %>
    <div class="letter"><%= letter %></div>
  <% end %>
</div>
<h2>What is the longest word you can find?</h2>
<form action="/score" method="post" data-turbo="false">
  <label for="word"></label>
  <input type="text" id="word" name="word" placeholder="Type your word...">
  <input type="submit" value="Play">
</form>
